<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Iniciar sesion</title>
</head>
<body>
    <section class="layout">
        <div class="header">
            <section class="layout_header">
                <div class="grow15">LFN VEHICLE</div>
                <div class="grow2">LOREM IM</div>
                <div class="grow2">LOREM IM</div>
                <div class="grow2">LOREM IM</div>
                <div class="grow2">LOREM IM</div>
                <div class="grow2"><a href="#"><button class="boton">Log in</button></a></div>
             </section>
        </div>
        <div class="main">2</div>
        <div class="footer">3</div>
      </section>
    
</body>
</html>